# Virtual Environment
venv/
.venv/
*.env

# Python compiled files and cache
__pycache__/
*.pyc

# Logs and local data
*.log

# Operating System files
.DS_Store
Thumbs.db

# Excel output files (Added after accidental commit)
*.xlsx

# Specific Python scripts not part of the main project
interview.py
machine_deneme.py
topic_modelling_cikarim.py

